In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras import models, layers

In [22]:
def load_image(path, size=(32, 32)):
    img = tf.io.read_file(path)
    img = tf.image.decode_png(img)
    img = tf.image.resize(img, size) / 255.0
    return img

# img_data = load_image('./train/1.png', (32, 32))
# img_data
# print(img_data.shape)
# plt.imshow(img_data, cmap=plt.cm.binary)

def load_image_by_id(id):
    return load_image('./train/{}.png'.format(id))

In [30]:
all_labels = pd.read_csv('./trainLabels.csv')
all_labels = pd.get_dummies(all_labels['label'])
all_labels.head(10)

   airplane  automobile  bird  cat  deer  dog  frog  horse  ship  truck
0         0           0     0    0     0    0     1      0     0      0
1         0           0     0    0     0    0     0      0     0      1
2         0           0     0    0     0    0     0      0     0      1
3         0           0     0    0     1    0     0      0     0      0
4         0           1     0    0     0    0     0      0     0      0
5         0           1     0    0     0    0     0      0     0      0
6         0           0     1    0     0    0     0      0     0      0
7         0           0     0    0     0    0     0      1     0      0
8         0           0     0    0     0    0     0      0     1      0
9         0           0     0    1     0    0     0      0     0      0

In [34]:
all_images = []
for i in range(1, 11):
    img = load_image_by_id(i)
    if i == 1:
        all_images = img
    else:
        all_images = np.vstack((all_images, img))

all_images.shape

(320, 32, 3)